services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: shitang
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data2:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      shitang_net:
        ipv4_address: 172.29.10.2

  app:
    build: .
    environment:
      DB_URL: postgresql+psycopg2://postgres:postgres@db:5432/shitang
      DATA_DIR: /app/data
      IMPORT_DIR: import/
    volumes:
      - ./data:/app/data
    depends_on:
      - db
    networks:
      shitang_net:
        ipv4_address: 172.29.10.3

  metabase:
    image: metabase/metabase:latest
    ports:
      - "4000:3000"
    environment:
      MB_DB_TYPE: h2
      MB_DB_FILE: /metabase.db/metabase.db
    volumes:
      - ./metabase-data:/metabase.db
    networks:
      shitang_net:
        ipv4_address: 172.29.10.4

networks:
  shitang_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.29.10.0/24

volumes:
  postgres_data2:
